body {
	background-color: #ee3399;
	margin: 0;
	zoom: 1;
}

header {
	background-color: #111;
	width: 100%;
	height: 10vh;
	margin: 0;
	color: #ee3399;
}

header>h1 {
	display: inline-block;
	float: left;
	font: 30px fantasy;
	margin: 0 0 0 5px;
	line-height: 10vh;
}

.control {
	display: inline-block;
	float: right;
	margin-top: 3vh;
	margin-right: 5px;
}

#gwen {
	/*padding: auto;*/
	margin-top: 10px;
	background-color: #ee3399;
	zoom: 1;
}

button.control {
	margin-top: 3.5vh;
	margin-right: 10px;
}

canvas {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgb(10,10,10);
}

footer {
	width: 100%;
	margin: auto;
	position: absolute;
	bottom: 0;
	z-index: -1;
	float: right;
	background-color: #ee3399;
}
footer>p {
	text-align: center;
	color: white;
}

nav {
	background-color: #111;
	width: 100%;
}

nav>div {
	/*text-align: center;*/
	width: 100%;
	/*margin: auto;*/
}

nav>div>a {
	margin: 0 10px 0 10px;
	color: white;
}

.instruction {
	margin-left: 5px;
	color: white;
}

li {
	margin-top: 3px;
}
.instruction > p {
	margin-left: 10px;
}
